<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>helpDeskTelefoon</param-name>
        <param-value>09/222.61.72</param-value>
    </context-param>

    <session-config>
        <session-timeout>30</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/JSP/404.jsp</location>
    </error-page>

    <error-page>
        <exception-type>be.vdab.repositories.RepositoryExceptions</exception-type>
        <location>/WEB-INF/JSP/repositoryexception.jsp</location>
    </error-page>

</web-app>